<ion-footer class="ion-no-border">
  <!--<ion-toolbar class="ion-text-center" color="dark">
      <ion-title>Powered by <b style="text-decoration: underline;" (click)="openAdd()">Addinteli</b> 2022 </ion-title>
  </ion-toolbar>-->
  <ion-title class="ion-text-center">Powered by <b style="text-decoration: underline;" (click)="openAdd()">Addinteli</b> 2024 </ion-title>
</ion-footer>

<style>
  ion-toolbar {
    --opacity: 0;
  }

  ion-title {
    padding-bottom: 10px;
    color: white;
    font-size: medium;
  }
</style>